<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NetTechnology_Final</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" asp-append-version="true">
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <header>
            <div class="navbar">
                <div class="normalContent">
                  <a asp-area="" asp-controller="Home" asp-action="Index"><strong>DotNetTechnology Final</strong></a>
                  <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                  <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                  <a asp-area="" asp-controller="Email" asp-action="Create">Create Customer</a>
              </div>

                <div class="rightContent">
                    <a asp-area="" asp-controller="" asp-action="">@User.Identity.Name</a>
                    <a asp-area="" asp-controller="Accounts" asp-action="Logout">Log out</a>
              </div>
            </div>
        </header>


    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - NetTechnology_Final - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
