@model NetTechnology_Final.Models.Accounts

@{
    ViewData["Title"] = "CreatePassword";
    string email = ViewBag.Message;
}
<h1>Create password</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Email" asp-action="CreatePassword" method="post">
            <!-- Cái thẻ input này là thẻ ẩn để hiện email để qua controller-->
            <input type="hidden" name="email_convert" value="@email" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />          
            <div class="form-group">
                <label asp-for="password" class="control-label"></label>
                <input asp-for="password" class="form-control" />
                
            </div>
            <div class="form-group">
                <label class="control-label">Confirm password</label>
                <input name="confirmPassword" class="form-control" />
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

