@model NetTechnology_Final.Models.Accounts
@{
    ViewData["Title"] = "ChangePassword";
}
<link rel="stylesheet" href="~/css/generalize.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/background.css" asp-append-version="true" />
<h1>ChangePassword</h1>

<div class="row">
    <div class="col-md-4 top">
        <form asp-controller="Accounts" asp-action="ChangePassword" method="post" class="pulled">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label class="control-label">Current password</label>
                <input name="old_password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">New password</label>
                <input name="new_password" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Confirm password</label>
                <input name="confirmPassword" class="form-control" />
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" /> 
            </div>
        </form>
    </div>
</div>



