@{
    ViewData["Title"] = "Home Page";
}

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
-->
<script src="~/js/backGroundParticle.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/background.css" asp-append-version="true" />
<div id="particles-js">
    <div class="container">
        <div class="row top">
            <div class="twelve column">
                <div class="logo">Welcome</div>
                <h1>Final .Net Project</h1>
                <h2>By Suimei & HaoNguyen</h2>
            </div>
        </div>

        <div class="row">
            <div class="one-half column">
                <div class="posts pulled">
                    <h1>Context</h1>
                    <ul>
                        <li>
                            <a href="#" rel="noopener noreferrer">Content 1 <span class="new"> NEW </span></a>
                        </li>
                        <li>
                            <a href="#" rel="noopener noreferrer">Content 2 <span class="new"> NEW </span></a>
                        </li>
                        <li>
                            <a href="#" rel="noopener noreferrer">Content 3 <span class="new"> NEW </span></a>
                        </li>
                        <li>
                            <a href="#" rel="noopener noreferrer">Content 4 <span class="new"> NEW </span></a>
                        </li>
                        <li>
                            <a href="#" rel="noopener noreferrer">Content 5 <span class="new"> NEW </span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="footer">
            <p>Made using the awesome Particles.js, Codepen V2 API & Skeleton.css</p>
        </div>
    </div>
</div>

